<h3>{{question.title}} ?</h3>
<i>{{question.slug}}</i>
<p>Nom de l'auteur : <strong>{{question.author.lastName}}</strong></p>
<p>Prénom de l'auteur : <strong>{{question.author.firstName}}</strong></p>

<p>Nombre de réponse(s) disponible(s) : <strong>{{answers|length}}</strong></p>

<ul>
    {% for answer in answers %}
        <li>{{answer|capitalize}}</li>
    {% endfor %}
</ul>
{# {{archived ? 'question archivée' : 'question pas archivée'}} #}

